<h1>Projects</h1>

<ul class="list-group">
<% @projects.each do |project| %>
    <li class="list-group-item">
    	title: <%= project.title %><br>
    	created by: <%= project.organizer.name %><br>
    	orgainzer's email is: <%= project.organizer.email %>
    </li>
<% end %>
</ul>	