<h1>New project setup</h1>  
<hr>


<section id="project-setup-1" >

  <h3>1. Who will be owner of this project?</h3>	
  <fieldset class="form-inline">
    <label class="sr-only" for="exampleInputEmail3">Project owner name</label>
    <input type="email" class="form-control" id="project-owner-name" placeholder="Project owner name">

    <label class="sr-only" for="exampleInputEmail3">Project owner email</label>
    <input type="email" class="form-control" id="project-owner-email" placeholder="Project owner email">

    <a href="#" class="btn btn-info" id="add-project-owner-btn">add</a>

  </fieldset>

  <hr>

	<div class="input-group" style="width:508px; margin-top:10px">
      <span class="form-control">fwe</span>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">x</button>
      </span>
    </div>

</section>




<hr>

<section id="project-setup-2">
	<h3>2. How will the project be called</h3>	
	<%= form_for(:project, url: projects_path, remote: false, html: { class: "u" }) do |f| %>
	  
	  <fieldset class="form-group">
	      <%= f.label "Project title", class:"sr-only" %>
	      <%= f.text_field :title,class:"form-control", placeholder:"Project title" %>
	  </fieldset>
	  <hr>

	  <button type="submit" class="btn btn-primary">Submit</button>
	<% end %>
</section>

<script>
	
$(document).ready(function()
{
	var project_owners=[];

	$("#add-project-owner-btn").click(function(){

		project_owners.push({
			name:$("#project-owner-name").val(),
			email:$("#project-owner-email").val(),
		})





		return false;
	})
})

</script>