<h1>Yellowings Media Center</h1>
<p class="lead">What can you do from here:</p>
<%= link_to "Login as Admin", hq_path, class:"btn btn-warning"%>
<%= link_to "Login as Organizer", organizer_path, class:"btn btn-info"%>
<hr>
<h3>Available projects</h3>


<div class="row">
  	
<div class="col-md-4">
    <div class="card">
      <img class="card-img-top" data-src="holder.js/100%x200/" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
</div>

</div>