<h1>Welcome to Yellowings</h1>
<p class="lead">What can you do from here:</p>
<%= link_to "Login as Admin", hq_path, class:"btn btn-warning"%>
<%= link_to "Login as Organizer", organizer_path, class:"btn btn-info"%>
<%= link_to "Login as Sponsor", hq_path, class:"btn btn-secondary"%>