.hq-organizer-profile-card
{
	.organizer-icon
	{
		width:100px;
		height:100px;
		background-color:#ccc;

		border-radius:50%;
		margin:0 auto;
		margin-bottom:10px;

		text-align:center;

		i 
		{
			font-size: 4rem;
			line-height: 6rem
		}
	}

	h3 
	{
		text-transform: capitalize
	}
}

