<h1>Organizers</h1>
<% if @organizers.present? %>
<ul class="list-group">
<% @organizers.each do |organizer| %>
	<% if organizer.project.present? %>
	<li class="list-group-item">
		<%= link_to organizer.name, hq_organizer_path(organizer.id), class:"btn btn-primary" %> 
		owns
		<%= link_to organizer.project.title, hq_project_path(organizer.project.id), class:"btn btn-info" %> 
	</li>
	<% end %>
<% end %>
<ul>
<% else %>
<div class="alert alert-info" role="alert">
	<strong>No organizers created</strong>
</div>
<% end %>