	<h1>Overview <%= link_to "setup new project", new_hq_project_path, class:"btn btn-primary-outline" %></h1>	
	
	<div class="row">
		<div class="col-md-4">
			<div class="card text-center">
			  <div class="card-header">
			  	<h4 class="card-title">All projects</h4>
			  </div>
			  <div class="card-block">
			  	<p class="card-text">View list of all projects</p>
			    <%= link_to "View (#{Project.all.size})", hq_projects_path, class:"btn btn-primary-outline" %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
			  <div class="card-header">
			  	<h4 class="card-title">All organizers</h4>
			  </div>
			  <div class="card-block">
			    <p class="card-text">View list of all organizers</p>
					<%= link_to "View (#{Organizer.all.size})", hq_organizers_path, class:"btn btn-primary-outline" %>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-center">
			  <div class="card-header">
			  	<h4 class="card-title">All sponsors</h4>
			  </div>
			  <div class="card-block">
			    <p class="card-text">View list of all sponsors</p>
			    <%= link_to "View (#{Sponsor.all.size})", hq_sponsors_path, class:"btn btn-primary-outline" %>
			  </div>
			</div>
		</div>

	</div>
	